*{
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
}

body{
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}
main {
    width: 1172px;
    margin: 0 auto;
}
.img-wrap {
    width: 1170px;
    height: 800px;
    background-color: #ECF0F1;
    margin: 150px 0 47px 0;
}
article header h1 {
    font-family: 'Roboto';
    font-weight: 400;
    color: #2C3E50;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 8px;
}
article header p span {
    font-family: 'Roboto';
    color: #A1B1BC;
    font-size: 14px;
    line-height: 36px;
}
article header p span:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #EBEBEB;
    margin: 0 7px -3px 12px;
}
article header p span:last-child:after {
    display: none;
}
article header hr {
    border: 0;
    border-bottom: 1px solid #ECF0F1;
    margin: 19px 0 23px 0;
}
article div p {
    font-family: 'Roboto';
    color: #A1B1BC;
    font-size: 14px;
    line-height: 23px;
}
article div blockquote {
    border: 1px solid #ECF0F1;
    position: relative;
    padding: 40px 181px 37px 69px;
    margin: 39px 0 29px 30px;

}
article div blockquote:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 9px;
    height: 100%;
    background-color: #21C2F8;
}
article div blockquote h2 {
    font-family: 'Roboto';
    font-weight: 400;
    color: #A1B1BC;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 14px;
}
article div blockquote p {
    font-size: 16px;
    line-height: 24px;
    color: #A1B1BC;
    opacity: 0.6;
}
article div blockquote + p {
    margin-bottom: 38px;
}
article div blockquote + p::first-letter {
    background-color: #34495E;
    color: #21C2F8;
    padding: 9px 11px 5px 13px;
    margin-right: 4px;
    margin-top: 4px;
    line-height: 26px;
    font-size: 33px;
    float: left;
}
article div h3 {
    font-family: 'Roboto';
    font-weight: 400;
    color: #34495E;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 14px;
    margin-left: 1px;
}