* {
    box-sizing: border-box;
}
main {
    width: 544px;
    margin: 0 auto;
}
.row {
    width: 162px;
}
.row1 {
    float: left;
}
.row2 {
    float: right;
    width: 216px;
}
.solid {
    background: grey;
    color: #fff;
}
.solid1 {
    background: #f5c8c8;
    color: #fff;
}
.col {
    width: 50px;
    min-height: 50px;
    margin: 2px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.x2 {
    width: 104px;
}
.x3 {
    width: 100%;
}
.y2 {
    height: 104px;
}
.y3 {
    height: 158px;
}
